<template>
  <div>
    <button class="button primary" @click="back()">Back to list</button>
    <table>
      <tbody>
        <tableRow v-for="m in movie" v-bind:row="m" v-bind:headings="headings" :key="m" />
      </tbody>
    </table>
    <p>{{ this.movie[0].description }}</p>
  </div>
</template>
<script>
import tableRow from "./../components/TableRow.vue";
import apiRequests from "@/apiRequests.js";
export default {
  name: "DetailView",
  data() {
    return {
      headings: [
        { name: "Title", value: "title" },
        { name: "Year", value: "year" },
        { name: "Rating", value: "rating" }
      ],
      movie: []
    };
  },
  components: {
    tableRow,
    apiRequests
  },
  methods: {
    back() {
      this.$router.push("/");
    }
  },
  mounted() {
    console.log(this.$route.params.id);
    apiRequests.getMovieById(this.$route.params.id).then(response => {
      this.movie = [];
      this.movie.push(response.data);
    });
  }
};
</script>