Vue.component('v-select', vSelect)
<template>
  <div>
    <!-- https://codepen.io/anon/pen/VENNWg?editors=1010 -->
    <v-select multiple v-model="selectedCategories" placeholder="Category" :options="categories"></v-select>
    <div class="search-wrapper">
      <label>Search title:</label>
      <input type="text" v-model="search" placeholder="Search title.." />
    </div>
    <table class="hover">
      <thead>
        <tr>
          <th v-for="heading in tableHeadings" :key="heading">{{ heading.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tableRow
          @click.native="getMovieDetails(movie)"
          v-for="movie in filteredMovies"
          v-bind:row="movie"
          v-bind:headings="tableHeadings"
          :key="movie"
        ></tableRow>
      </tbody>
    </table>
  </div>
</template>
<script>
import tableRow from "./TableRow.vue";
import vSelect from "vue-select";
export default {
  name: "MovieTable",
  props: ["tableHeadings", "movies", "categories"],
  data() {
    return {
      search: "",
      selectedCategories: this.categories
    };
  },
  components: {
    tableRow,
    vSelect
  },
  computed: {
    // https://codepen.io/AndrewThian/pen/QdeOVa
    filteredMovies() {
      return this.movies.filter(m => {
        return (
          m.title.toLowerCase().includes(this.search.toLowerCase()) &&
          this.selectedCategories.includes(m.categoryName)
        );
      });
    }
  },
  methods: {
    getMovieDetails(movie) {
      this.$router.push({ path: `/details/${movie.id}` });
    }
  }
};
</script>