<!-- http://hannaliebl.com/blog/build-a-table-with-vuejs-part-1/ -->
<template>
  <tr>
    <td v-for="heading in headings" :key="heading">{{ row[heading.value] }}</td>
  </tr>
</template>
<script>
export default {
  name: "tableRow",
  props: ["row", "headings"]
}
</script>
